html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #e5e5e5 !important;
  padding: 0;
  margin:0;
}


h1 {
  margin: 0 !important;
  font-size: 18px;
  font-weight: 200;
  border-bottom: 1px solid #acacac;
  padding-bottom: 12px;
}

#new-item {
  width: 100%;
  border-radius: 3px;
  height: 46px;
  border: 1px solid #c2c2c2;
  padding: 18px;
  box-sizing: border-box;
  text-transform: uppercase;
}

#item-list {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

#item-list li {
  display: list-item;
  text-align: -webkit-match-parent;
}

<!--Navigation--->

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 250px;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #ffffff;
  float:left;
  border-right: 1px solid #dcdcdc;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  text-transform: uppercase;
  padding: 22px 40px;
  border-top: 1px solid #eaeaea;
  cursor: pointer;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #363636;
  background: #ffffff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #41a940;
  background: #d9eed9;
}
#cssmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #1682ba;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {

}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}

.container {
  width: 100%;
  height: 100%;
  float: left;
}

.content {
  float: left;
  width: 83%;
}

.content header {
  width: 100%;
  background: #434343; /* Old browsers */
  background: -moz-linear-gradient(top,  #434343 0%, #343434 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#343434)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #434343 0%,#343434 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #434343 0%,#343434 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #434343 0%,#343434 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #434343 0%,#343434 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
  position: relative;
  height:58px;
  text-align: right;
}

.content header .search {
  margin: 13px;
  border-radius: 3px;
  padding: 8px;
  border:none;
  width: 250px;
}

.content .list-content {
  padding: 50px;
}

.content ul#completed-list {opacity: 0.3;}

.content ul#completed-list,
.content ul#item-list {
  padding: 0;
}

.content ul li {
  list-style: none;
  font-size: 12px;
  border: 1px solid lightgrey;
  padding: 13px;
  background-color: white;
  border-left: 16px solid lightgrey;
  margin-bottom: 6px;
  text-transform:uppercase;
}

.content ul li.add-new-list {
  color: green;
}

.content ul li input.completed-chk {
  float: right;
}
